@using Skybrud.Umbraco.GridData.Rendering
@inherits Umbraco.Web.Mvc.UmbracoViewPage<GridControlWrapper<Graph.Components.TilesBlock.GridControlTileValue>>

<div class="accordion">
	@foreach (var tab in Model.Value.Tabs)
	{
		<div class="accordion-tab">
			<div class="accordion-tab__header">
				@tab.Title
			</div>
			<div class="accordion-tab__content">
				@Html.Raw(tab.Description)
			</div>
		</div>
	}
</div>
